html {
    box-sizing: border-box;
}
body {
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
      }
main {
display: flex;
justify-content: center;
align-items: center;

}
footer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 150%;
}
.imgcv { 
    border-radius: 90%;
  }